@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 30px;
  width: 10px;
  border-radius: 2px;
  background-color: #6382C0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 10px;
  border-radius: 2px;
  background-color: #6382C0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: 30px;
  width: 10px;
  border-radius: 2px;
  background-color: #6382C0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
